
li.list-group-item {
  transition: all .25s ease-in-out;
  height: 5rem;
  overflow: hidden;
}

li.list-group-item.hidden {
  opacity: 0;
  height: 0;
}

img.profile-img {
  min-height: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  display: block;
  text-align: center
}

img.profile-img:before {
  content: "\f0c1";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: FontAwesome;
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: .25rem;
}
